Binaries
DerivedDataCache
Intermediate
Saved
Content/BlackAlder/**/Textures
Content/Fab/**/Textures
Content/StarterContent/**/Textures
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace